[submodule "Server/cardgame-shared"]
	path = Server/cardgame-shared
	url = https://github.com/afroraydude/cardgame-shared.git
[submodule "CardGameShared/cardgame-shared"]
	path = CardGameShared/cardgame-shared
	url = https://github.com/afroraydude/cardgame-shared.git
